@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme inline {
  --color-tatakoa-terracotta: #C65A2E;
  --color-tatakoa-sand: #D2B48C;
  --color-tatakoa-slate: #4F6478;
  --color-tatakoa-white: #F4F0E8;
  --color-tatakoa-charcoal: #1F1C1A;

  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background: var(--color-tatakoa-white);
  color: var(--color-tatakoa-charcoal);
}